.game-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: 200px 1fr 200px;
  gap: 10px;
}

.board-container {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
  font-family: "Agbalumo", cursive;
  font-size: 2rem;
  margin: 20px 0;
}

.game-info {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  padding: 10px;
}